# Ignore everything
*

!.gitignore

# Github actions
!.github/
!.github/workflows/
!.github/workflows/*

# Documentation
!README.md

# Devcontainer setup
!.devcontainer/
!.devcontainer/Dockerfile
!.devcontainer/devcontainer.json

# Terraform
!terraform/
!terraform/*.tf
!terraform/*.tftpl
!terraform/*.yml
